<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>カラオケ音程採点</title>
  <link rel="stylesheet" href="static/css/sing.css">
</head>

<body>
  <div class="wrap">
    <div class="card">
      <h1 id="music_name">{{music_name}}</h1>
      <audio id="player"></audio>

      <!-- 再生・停止・やり直しボタン -->
      <div class="player-buttons">
        <button id="playBtn">再生</button>
        <button id="pauseBtn">停止</button>
        <button id="reloadBtn">やり直し</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div>現在ピッチ: <span id="pitch">— Hz</span></div>
    <div>判定: <span id="note">—</span></div>
    <div id="pitchGraph">
      <canvas id="pitchCanvas"></canvas>
      <div id="timeMarker"></div>
    </div>
  </div>

  <div id="lyrics">
    <!--歌詞をここに表示-->
  </div>

  <script src="static/js/sing.js"></script>
</body>
</html>